body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,p {
    color: #e91e63;
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #e91e63;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d81b60;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    position: relative;
}

li.completed {
    text-decoration: line-through;
    color: #999;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    padding: 5px 10px;
    background-color: #ccc; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right; 
}

.delete-button:hover {
    background-color: #ddd;
}
